{% extends "base.html"%}
{%block content%}
<link rel="stylesheet" href={{url_for('static',filename='css/style.css')}}>
<script src="text/javascript">
	function showById() {
		window.alert("clicked")
	}
</script>
	<div class="mid" align="center">
		<button class="but" id="1" type="submit" oncCick="showById()">Truck ID</button><br><br>
		<button class="but" id="2" type="submit" >Truck Number</button><br><br>
		<button class="but" id="3" type="submit")>Insert Truck</button><br><br>
		<button class="but" id="4" type="submit")">Show pagewise</button>
	</div>
{% endblock %}